{
  "name": "backend-project",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "dev": "nodemon src/index.js"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "express" : "4.18.2",
    "mysql2" : "3.5.2",
    "sequelize" : "6.32.1",
    "nodemon" : "3.0.1",
    "jsonwebtoken" : "9.0.1",
    "dotenv" : "16.3.1",
    "bcrypt" : "5.0.1",
    "cors" : "2.8.5"
  }
}

#Copy page in the package.json, after that, use the command : npm install. 